:root {
  --primary-color-dark: hsl(238, 35%, 10%);
  --primary-color: hsl(238, 35%, 15%);
  --primary-color-light: hsl(238, 35%, 20%);

  --secondary-color-dark: hsl(13, 36%, 77%);
  --secondary-color: hsl(13, 36%, 82%);
  --secondary-color-light: hsl(13, 36%, 87%);

  --neutral-color-black: hsl(0, 0%, 0%);
  --neutral-color-darkgrey: hsl(0, 0%, 25%);
  --neutral-color-grey: hsl(0, 0%, 50%);
  --neutral-color-lightgrey: hsl(0, 0%, 75%);
  --neutral-color-white: hsl(0, 0%, 100%);
}


body {
  font-family: Arial, sans-serif;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: var(--primary-color);
  color: var(--neutral-color-white);
  font-family: "Space Mono";
  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  padding: 0.5rem 0.9rem;
  cursor: pointer;
}

 @keyframes rotation {
   from {
      transform: rotate(0deg);
    }
   
    to {
      transform: rotate(360deg);
    }
  }

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}